[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "*"
gunicorn = "*"
py-gfm = "*"
pytz = "*"
Django = "*"
Markdown = "*"
"psycopg2" = "*"
requests = "*"

[dev-packages]
mypy = "*"
"flake8" = "*"

[requires]
python_version = "3.6.5"
