.navbar-scrolls-away {
    position: relative;
    background-color: blue;
    width: 950px;
    height: 300px;
    margin: 0 auto;
    z-index: 2;
}

.navbar {
    position: sticky;
    background-color: blue;
    width: 950px;
    height: 50px;
    top: 0;
    margin: 0 auto;
    display: flex;
    z-index: 3;
    background-color: yellow;
}

.container {
    min-height: 100%;

    display: grid;
    grid-template-columns: 1fr 1.7fr 1fr;
    grid-template-areas: ". content .";
    grid-gap: 15px;
    justify-content: start;
    align-content: start;
}

.content {
    margin-top: 15px;
    grid-area: content;
    min-width: 600px;
    z-index: 1;
}

.profile, .profile-static {
    width: 280px;
    height: 280px;
    background-color: red;
    z-index: 99;
    position: fixed;
    top: 25px;
    right: calc(50% - (950px / 2) + 25px); // 50% of the screen, minus half the size of the navbar-scrolls-away
}

.profile-static {
    width: 50;
    height: 50;
    top: 0;
}

.button {
    height: 50px;
    margin-left: 10px;
    z-index: 900;
    top: 0;
    cursor: pointer;
    padding: 0 5px;
    color: black;
}

.button i {
    margin-top: 5px;
}

.button:hover {
    background-color: green;
}
