body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container {
    min-height: 100%;
    width: 950px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.profile {
    grid-area: profile;
    margin: 5px;
}

#profile img {
    width: 100%;
    height: 100%;
}

.header {
    position: relative;
    width: 100%;

    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-areas: "profile welcome-msg";
    justify-items: start;
    align-items: center;
}

.header-content {
    grid-area: welcome-msg;
    margin: 25px;
}

.navbar {
    top: -1px;
    width: 100%;
    height: 70px;

    position: sticky;
    background-color: #f7f8ff;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a { color: black; }
.navbar:hover a { color: lightgray; }
.navbar a:hover { color: black; }

.button {
    top: 0;
    height: 50px;
    margin: 0 10px;
    cursor: pointer;
}
.button i { margin-top: 5px; }

.content {
    width: 80%;
    margin-top: 25px;
    flex-grow: 1;
}

.all-posts {
    display: flex;
    flex-direction: column;
}

.all-posts a { text-decoration: none; }
.all-posts-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
}
.all-posts-item:nth-child(odd) { background-color: #ebf2f9; }
.all-posts-item:hover { background-color: #d9ebfe; }

.navfooter {
    border-top: 2px ridge #eaecef;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 3rem;
    margin-top: 50px;
    padding: 20px 0;
}

.navfooter--item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 3rem;
    width: 3rem;
}

.navfooter--item a {
    color: unset;
    text-decoration: none;
}

.navfooter--item-outer { font-size: 3rem; }
.navfooter--item-inner { font-size: 2rem; }
.navfooter--item-outer:hover { font-size: 3.5rem; }
.navfooter--item-inner:hover { font-size: 2.5rem; }

.footer {
    width: 100%;
    margin-top: 3rem;
    border-top: 1px solid black;
    background-color: #f7f8ff;
    text-align: center;
    color: black;
    padding-bottom: 25px;
}

.footer a {
    text-decoration: none;
}

.disclaimer {
    width: 60%;
    color: lightgray;
    margin: auto;
}
