body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container {
    min-height: 100%;
    max-width: 950px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
}

.navbar-scrolls-away {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 300px;
    background-color: #c9af98;
}

.navbar {
    position: sticky;
    z-index: 3;
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #2b3586;
    top: 0;
}

.navbar-content {
    margin-left: 30px;
    margin-right: 350px;
    text-align: center;
    padding-top: 60px;
}

.content {
    z-index: 1;
    max-width: 80%;
    margin-top: 15px;
}

.profile, .profile-static {
    position: fixed;
    z-index: 99;
    top: 25px;
    width: 280px;
    height: 280px;
    /* 50% of the screen, minus half the size of the navbar-scrolls-away */
    right: calc(50% - (950px / 2) + 25px);
    background-color: red;
}

.profile-static {
    top: 0;
    width: 50;
    height: 50;
}

@media (max-width: 950px) {
    .profile {
        position: relative;
        right: unset;
    }

    .navbar {
        justify-content: center;
    }

    .navbar-scrolls-away {
        margin-top: -280px;
        height: 580px;
        display: flex;
        justify-content: center;
    }

    .navbar-content {
        border-top: 2px ridge #eaecef;
        margin: unset;
        margin-top: 350px;
        max-width: 600px;
        padding-top: 25px;
    }
}

.button {
    height: 50px;
    margin-left: 10px;
    z-index: 900;
    top: 0;
    cursor: pointer;
    padding: 0 5px;
    color: #ed8a63;
}

.button i {
    margin-top: 5px;
}

.button:hover {
    background-color: green;
}

.all-posts {
    display: flex;
    flex-direction: column;
}

.all-posts a { text-decoration: none; }
.all-posts-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
}
.all-posts-item:nth-child(odd) { background-color: #ebf2f9; }
.all-posts-item:hover { background-color: #d9ebfe; }
