body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.header {
    width: 100%;
    position: fixed;
    background-color: white;
    height: 65px;
    flex: 0 0 100%;
}
.main {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.footer {
    background-color: orange;
    min-height: 100px;
}

.content {
    width: 650px;
    flex: 0 0 auto;
    padding: 2rem 1rem;
    margin-top: 65px;
}
.bumper-left {
    background-color: yellow;
    flex: 0 1 100%;
}
.bumper-right {
    background-color: green;
    flex: 0 1 100%;
}

@media all and (max-width: 650px) {
    .content { flex: 0 1 auto; }
    .bumper-left { flex-basis: 0; }
    .bumper-right { flex-basis: 0; }
}
