{% extends 'base.html' %}

{% block profile %}
<div class="profile-static" id="profile">
    {% load static %}
    <img src="{% static 'posts/headshot_chris.jpg' %}" />
</div>
{% endblock %}

{% block content %}
    <div class="content">
        <h1>All Posts</h1>
        {% if error_message %}<p>strong>{{ error_message }</strong></p>{% endif %}

        {% if published_posts %}
            <div class="all-posts">
            {% for post in published_posts %}
                <a href="/posts/{{ post.id }}/">
                    <div class="all-posts-item">
                        <div>
                            <strong>{{ post.title }}</strong> <br>
                            {{ post.publication_date|date:"m/d/y" }}
                        </div>
                    </div>
                </a>
                <hr/>
            {% endfor %}
            </div>
        {% else %}
            <p>No polls are available.</p>
        {% endif %}
    </div>
{% endblock %}
