{% block extrahead %}
{% endblock %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'posts/reset.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'posts/base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'posts/style.css' %}" />
<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" />

<div class="container">
    <div class="header">
        <div class="header-content">
            <h3>Chris Does Coding</h3>
            <p>Hi, I'm Chris!  I'm a Software Developer in New York City.</p>
        </div>
        <div class="profile" id="profile">
            <img src="{% static 'posts/headshot_chris.jpg' %}" />
        </div>
    </div>
    <div class="navbar" id='navbar'>
        <a href="/">
            <div class="button"><i class="fas fa-home fa-2x"></i></div>
        </a>
        <a href="/posts">
            <div class="button"><i class="fas fa-list-ul fa-2x"></i></div>
        </a>
        <a href="https://github.com/cs-cordero">
            <div class="button"><i class="fab fa-github fa-2x"></i></div>
        </a>
        <a href="https://www.linkedin.com/in/cs-cordero">
            <div class="button"><i class="fab fa-linkedin fa-2x"></i></div>
        </a>
        <a href="#">
            <div class="button"><i class="far fa-envelope fa-2x"></i></div>
        </a>
    </div>
    {% block content %}
    {% endblock %}
</div>
