{% block extrahead %}
{% endblock %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'posts/reset.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'posts/base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'posts/style.css' %}" />

<div class="container">
    <div class="header"> {% include 'base_header.html' %} </div>
    <div class="main"> {% block content %}{% endblock %} </div>
    <div class="footer"> {% include 'base_footer.html' %} </div>
</div>
