{% block extrahead %}
{% endblock %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'posts/reset.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'posts/base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'posts/style.css' %}" />
<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" />

<div class="container">
    <div class="header">
        <a href="#">
            <div class="header-button">
                <div class="header-button-label">
                    CHRISDOESCODING
                </div>
            </div>
        </a>
        <a href="#">
            <div class="header-button">
                <div class="header-button-label">
                    LATEST
                </div>
            </div>
        </a>
        <a href="#">
            <div class="header-button">
                <div class="header-button-label">
                    POSTS
                </div>
            </div>
        </a>
        <a href="#">
            <div class="header-button">
                <div class="header-button-label">
                    CONTACT
                </div>
            </div>
        </a>
    </div>
    <div class="main">
        {% block content %}
        {% endblock %}
    </div>
    <div class="footer">
    </div>
</div>
