{% extends 'base.html' %}

{% block extrahead %}
    <script>
        var profilePicture;
        var navbar;
        var heightOfNavbarFixedAndBody = 350;

        function resizePicture() {
            var scrollPosition = document.body.scrollTop;
            var scrollMaxEffect = Math.min(heightOfNavbarFixedAndBody, scrollPosition);
            var scaledSize = 1 - (scrollMaxEffect / heightOfNavbarFixedAndBody);
            if (scrollPosition >= 400) {
                if (profilePicture && profilePicture.style.width <= 50)
                    return;
            };

            if (profilePicture) {
                var size = Math.max((280 * scaledSize), 50) + 'px';
                profilePicture.style.width = size;
                profilePicture.style.height = size;
                var topScale = Math.max(0, scaledSize - (50/280));
                profilePicture.style.top = (25 * topScale) + 'px';
            }

        }

        window.onload = function() {
            profilePicture = document.getElementById('profile');
            navbar = document.getElementById('navbar');
            document.body.scrollTop = 0;
        };

        document.onscroll = resizePicture;
    </script>
{% endblock %}

{% block scroll-away %}
<div class="navbar-scrolls-away"></div>
{% endblock %}

{% block profile %}
<div class="profile" id="profile"></div>
{% endblock %}

{% block content %}
    <div class="content">
        <h1>{{ post.title }}</h1>

        {% if error_message %}<p>strong>{{ error_message }</strong></p>{% endif %}

        <h3>{{ post.publication_date }}</h3>
        <hr />
        <div>
            {{ markdown.html }}
        </div>
    </div>
{% endblock %}
