{% extends 'base.html' %}

{% block content %}
    <div class="content">
        <h1>{{ post.title }}</h1>

        {% if error_message %}<p>strong>{{ error_message }</strong></p>{% endif %}

        <h3>{{ post.publication_date|date:"M d, Y" }}</h3>
        <hr />
        <div>
            {{ markdown.html }}
        </div>
    </div>
    <div class="navfooter">
        <div class="navfooter--item navfooter--item-outer">
            <a href="{{ previous }}">
                <i class="fas fa-angle-double-left"></i>
            </a>
        </div>
        <div class="navfooter--item navfooter--item-inner">
            <a href="#">
                <i class="fas fa-angle-double-up"></i>
            </a>
        </div>
        <div class="navfooter--item navfooter--item-inner">
            <i class="fas fa-random"></i>
        </div>
        <div class="navfooter--item navfooter--item-outer">
            <i class="fas fa-angle-double-right"></i>
        </div>
    </div>
{% endblock %}
