{% load static %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />

<div>
    <section class="hero is-medium is-primary is-bold" style="background: transparent">
        <div class="hero-body" style="background-image: linear-gradient(270deg, transparent 0%, rgb(0, 0, 0) 100%);">
            <div class="container">
                <h1 class="title">
                    Random Episodes of South Park
                </h1>
                <h2 class="subtitle">
                    Requires a Hulu Plus Subscription
                </h2>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="notification has-text-centered">
                <a href="random/" class="button is-danger is-size-3 is-bold">
                    WATCH A RANDOM EPISODE
                </a>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h1 class="title is-3">
                What is this?
            </h1>
            <p class="is-size-5">
                Back in 2014, Hulu became the exclusive online streaming
                service for all seasons and episodes of South Park.  Prior to
                that, all episodes were available for free on
                SouthParkStudios.com.
            </p>
            <p class="is-size-5">
                The killer feature back on SPS was the ability to click "Watch
                a Random Episode".  For certain fans like me, I've already
                watched every single episode at least once, and watching them
                in sequence doesn't really appeal to me anymore.
            </p>
            <p class="is-size-5">
                As of this writing, Hulu does not and continues to not provide
                an episode randomizer feature.  This page here provides a
                launching point to randomize an episode.  Each click of the
                "Go!" button or the button below will take you directly to
                Hulu.  You will still need access to a Hulu Plus subscription
                to watch the episode.
            </p>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <p class="is-size-6">
                <strong>
                    I do not own any rights to South Park or to Hulu.  I am not
                    sponsored by them in any way.  South Park and all related
                    titles, logos and characters are trademarks of Comedy
                    Partners.  Hulu, the Hulu logo, and other Hulu marks,
                    graphics, logos, scripts, and sounds are trademarks of
                    Hulu.
                </strong>
            </p>
        </div>
    </section>
    <section class="section">
        <div class="notification has-text-centered">
            <a href="/" class="is-size-7 is-bold">
                Back to Blog
            </a>
        </div>
    </section>
</div>
